.App {
  font-family: sans-serif;
  text-align: center;
}
.mainContainer {
  overflow-y: hidden !important;
}
mainContainer::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.photo-item {
  width: calc(50% - 10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.photo-item img {
  width: 100%;
  height: auto;
}

.photo-item p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}